.formula-editor {
  width: 300px;
  margin-bottom: 10px;
}

.sheet-row {
  display: flex;
}

.sheet-cell {
  flex: 1;
  min-width: 50px;
  max-width: 100px;
  padding: 0 5px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}